<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body class="gradient-background-2">
  
    <div class="container marketing">
        <div class="row">
          <div class="col-lg-4">
            <img src="static/images2.png" alt="">
            <h2 class="fw-normal">Face Detection
                </h2>
            <p>System detects faces in
                input images or video
                streams using computer
                vision algorithms.
              </p>
            <p><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/Face_detection">View details »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img src="static/download3.jpeg" alt="">
            <h2 class="fw-normal">Face Recognition</h2>
            <p>Face recognition technology is
                a biometric technology that
                uses algorithms to identify and
                verify a person's identity based
                on their facial features</p>
            <p><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/Facial_recognition_system">View details »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img src="static/download4.png" alt="">
            <h2 class="fw-normal">Picture Perfect Attendance</h2>
            <p> It works by
                capturing an employee's facial
                features and storing them in a
                database.</p>
            <p><a class="btn btn-secondary" href="https://www.semanticscholar.org/paper/Automated-Attendance-System-Using-Image-Processing-Hapani-Prabhu/4dd58810cbda9332f82a72d9d555a2631b14c3fd">View details »</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    
    
        <!-- START THE FEATURETTES -->
    
        <hr class="featurette-divider">
    
        <div class="row featurette">
          <div class="col-md-7">
          <div class="col-md-5">
            <img src="static/images1.png">
          </div>
            <h2 class="featurette-heading fw-normal lh-1">Continuous attendence monitoring.<br> <span class="text-body-secondary"></span></h2>
            <p class="lead">Our model tends to be more continuos accurate and .</p>
            <h3>This innovative approach employs real-time image capture and analysis to ensure accurate attendance records. By leveraging biometric features like facial recognition, this technology eliminates errors and enhances security. Its benefits include instant updates, data-driven insights, and seamless integration. However, ethical considerations must be upheld to ensure privacy. Should you seek to explore this solution further, feel free to connect.</h3>
          </div>
          <div class="col-md-5">
            
        </div>
    
        
    
      </div>
      <div class="container">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="index.html" class="nav-link px-2 text-muted">Home page</a></li>
            <li class="nav-item"><a href="" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
          </ul>
          <p class="text-center text-muted">@ RRuNN RIT </p>
        </footer>
      </div>
</body>
</html>